.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #2a2a3d;
    width: 100%;
}

.elo {
    margin: auto 1rem;
}

.minor {
    text-align: right;
    margin-right: 1rem;
    font-size: 0.8rem;
    color: #bbbbbb
}