.container, .form {
    display: grid;
    justify-content: center;
    text-align: center;
}

.header {
    font-size: 1.75rem;
    margin-top: 2rem;
}

.label {
    text-align: left;
    margin: 0.4rem 0;
    font-size: 0.875rem;
}

.input, .inputReadonly {
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    background-color: #2a2a3d;
    color: white;
    border: none;
}

.inputReadonly {
    background-color: inherit;
    cursor: default;
}

.button {
    width: 75%;
    justify-self: center;
    border-radius: 0.75rem;
    padding: 0.75rem;
    cursor: pointer;
    margin: 2rem 0;
    color: white;
    background-color: #5383e8;
    border: none;
    font-size: 1rem;
}

.button:hover {
    background-color: #2b66e4;
}