.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #2a2a3d;
}

.image {
    height: 180px;
    margin: 0.4rem auto;
}

.username {
    width: 90%;
    margin: auto;
    padding: 0;
}