.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
    background-color: #2a2a3d;
    text-align: center;
}

.roundedAll {
    border-radius: 10px;
}

.roundedBot {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.margin {
    margin: 0.4rem 0;
}

.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}